* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
.cf:after {
  content: "";
  display: block;
  clear: both;
}
body {
  font-family: "NanumSquare", sans-serif;
}
#wrap {
  background: url(../images/background.jpg);
  padding: 50px 0;
}
.board {
  width: 750px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  padding: 30px;
  padding-top: 40px;
  box-sizing: border-box;
  box-shadow: 1px 0px 0px 0px #fff inset;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
  position: relative;
}
.board .paper {
  background: #fff;
  width: 660px;
  margin: 0 auto;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.3);
  padding: 0 10%;
  padding-top: 90px;
  padding-bottom: 120px;
  box-sizing: border-box;
}
.board .paper .tongs {
  width: 296px;
  height: 90px;
  background: url(../images/tongs.png) no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -148px;
  top: 20px;
}
.board .paper p.date {
  position: absolute;
  left: 60px;
  top: 55px;
  font-size: 12px;
}
.board .paper h2 {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}
.board .paper h2 img {
  vertical-align: middle;
}
.board .paper p.info {
  font-size: 14px;
  text-align: center;
  margin: 20px 0;
  line-height: 22px;
}

#s01 {
  padding-top: 30px;
}
#s01 div.form_01,
#s01 div.form_02 {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
#s01 div.form_01 ul {
}
#s01 div.form_01 ul li {
}
#s01 div.form_01 ul li span {
  font-size: 18px;
  font-weight: 600;
  width: 60px;
  display: inline-block;
  margin: 18px 0;
  vertical-align: middle;
}
#s01 div.form_01 ul li input {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding: 3px 5px;
  box-sizing: border-box;
}
#s01 div.form_02 ul {
}
#s01 div.form_02 ul li {
}
#s01 div.form_02 ul li span {
  font-size: 18px;
  font-weight: 600;
  width: 60px;
  display: inline-block;
  margin: 18px 0;
  vertical-align: middle;
}
input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
input[type="radio"] + label {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  vertical-align: middle;
  margin-top: -25px;
}
input[type="radio"] + label div {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 4px;
  z-index: 1;
  font-size: 17px;
  font-weight: 700;
  color: #969696;
  text-indent: 2px;
}
input[type="radio"] + label.on div {
  color: #fff;
  width: 35px;
}
input[type="radio"] + label.on div:after {
  content: "";
  width: 12px;
  height: 12px;
  background: url(../images/checked.png) no-repeat;
  position: absolute;
  top: -12px;
  left: 12px;
}

input[type="radio"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 34px;
  height: 34px;
  text-align: center;
  background: #e7e7e7;
  border-radius: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}
input[type="radio"] + label:active:before,
input[type="radio"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
input[type="radio"]:checked + label:before {
  background: #e9ecee;
  border-color: #adb8c0;
}
input[type="radio"]:checked + label:after {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 34px;
  height: 34px;
  background: #2dba62;
  border-radius: 100%;
}

.form_03 {
  margin-top: 155px;
}
.form_03 ul {
}
.form_03 ul li {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.form_03 ul li span {
  font-size: 18px;
  font-weight: 600;
  width: 60px;
  display: inline-block;
  margin: 18px 0;
  vertical-align: middle;
}
.form_03 ul li p {
  display: inline-block;
  margin: 0 10px;
}
.form_03 ul li input {
  height: 30px;
  width: 50px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  padding: 3px 5px;
  box-sizing: border-box;
}

.form_04 {
}
.form_04 ul {
}
.form_04 ul li {
  box-sizing: border-box;
  margin: 4px 0;
}
.form_04 ul li span {
  font-size: 18px;
  font-weight: 600;
  width: 160px;
  display: inline-block;
  margin: 18px 0;
  vertical-align: middle;
}
.form_04 ul li:nth-child(4) span {
  width: 210px;
}
.form_04 ul li input {
  height: 30px;
  width: 60px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  padding: 3px 5px;
  box-sizing: border-box;
}
.form_04 ul li p {
  display: inline-block;
  margin: 0 10px;
}

#s02 {
  margin-top: 60px;
}
#s02 .alert {
  text-align: center;
  margin-bottom: 50px;
}

.form_05 {
}
.form_05 ul {
}
.form_05 ul li {
  box-sizing: border-box;
  margin-top: 60px;
}
.form_05 ul li > div {
  margin: 28px 0;
}
.form_05 ul li h4 {
  font-size: 19px;
  line-height: 33px;
  margin-bottom: 35px;
}
.form_05 ul li input {
}
.form_05 ul li h3 {
  display: inline-block;
  margin-left: 11px;
  font-size:17px;
}

#s03{
  padding-top:20px;
}
#s03 .border{
  display: block;
  width:50%;
  height:1px;
  background: #ccc;
  margin: 40px auto;
}
#s03 p.alert{
  text-align: center;
  margin: 40px 0;
  line-height: 25px;
  font-weight: bold;
  font-size:17px
}
#s03 div.yesOrNo{}
#s03 div.yesOrNo ul{
  text-align: center;
}
#s03 div.yesOrNo ul li{
  display:inline-block;
  margin:0 20px;
}
#s03 div.yesOrNo ul li p{
  margin-top:20px;
  text-align:center;
  text-indent: -4px;
  font-weight: 400;
  font-size:14px;
  color:#777;
}
#s03 div.yesOrNo ul li input[type="radio"] + label.on div{
  width:auto;
}

#s04{
  margin-top:70px;
  display: none;
}
#s04.on{
  display: block;
}
#s04 .check{}
#s04 .check ul{
  text-align: center;
}
#s04 .check ul li{
  display: inline-block;
  margin:0 15px;
}
#s04 .check ul li p{
  font-size:17px;
  font-weight: 600;
  margin-top:20px;
  text-indent: -7px;
  color:#969696;
}

#s04 .hide{
  
}
#s04 .hide ul{
  
}
#s04 .hide ul li.checklist{
  box-sizing: border-box;
  margin-top: 60px;
  display: none;
}
#s04 .hide ul li.checklist.on{
  display: block;
}
#s04 .hide ul li.checklist:nth-child(1){
  margin-top:70px;
}
#s04 .hide ul li.checklist .ex{
  text-align: center;
  background: #e3e3e3;
  padding:20px;
  margin-bottom:40px;
}
#s04 .hide ul li.checklist .ex p:nth-child(1){
  margin-bottom:15px;
}
#s04 .hide ul li.checklist .ex p{
  line-height: 25px;;
}
#s04 .hide ul li.checklist ul li h3 input{
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding: 3px 5px;
  box-sizing: border-box;
  margin-left:10px;
}

#s04 .hide ul li h2{
  margin:25px 0;
  margin-top:100px;
  font-size:25px;
}
#s04 .hide ul li h4{
  font-size: 19px;
  line-height: 33px;
  margin-bottom: 35px;
}
#s04 .hide ul li ul{}
#s04 .hide ul li.checklist ul li{
  box-sizing: border-box;
  margin-top: 60px;
}
#s04 .hide ul li ul li > div{
  margin: 28px 0;
}
#s04 .hide ul li ul li h3{
  display: inline-block;
  margin-left: 11px;
  font-size:17px;
}

input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  vertical-align: middle;
  margin-top: -25px;
}
input[type="checkbox"] + label div {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 4px;
  z-index: 1;
  font-size: 17px;
  font-weight: 700;
  color: #969696;
  text-indent: 2px;
}
input[type="checkbox"] + label.on div {
  color: #fff;
  width: 35px;
}
input[type="checkbox"] + label.on div:after {
  content: "";
  width: 12px;
  height: 12px;
  background: url(../images/checked.png) no-repeat;
  position: absolute;
  top: -12px;
  left: 12px;
}

input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 34px;
  height: 34px;
  text-align: center;
  background: #e7e7e7;
  border-radius: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}
input[type="checkbox"] + label:active:before,
input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
input[type="checkbox"]:checked + label:before {
  background: #e9ecee;
  border-color: #adb8c0;
}
input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 34px;
  height: 34px;
  background: #2dba62;
  border-radius: 100%;
}



#end{
  text-align: center;
  padding-top:80px;
  display: none;
}
#end.on{
  display: block;
}
#end h3{
  margin-bottom:30px;
}
#end button{
  display: block;
  margin: 15px auto;
  width:170px;
  height: 50px;
  background: #2dba62;
  border: none;
  cursor: pointer;
  font-size:18px;
  font-weight: bold;
  color:#fff;
  font-family: "NanumSquare", sans-serif;
}
#end button.remove{
  background: #e7e7e7;
  color:#969696;
}
#end img{
  margin-top:30px;
}